manifest {
  name = 'SMILES2SIRIUS_fp'
  author = 'Ida Rahu'
  homePage = 'https://github.com/idarahu/SMILES2SIRIUS_fp'
  description = 'Nextflow pipeline for calculating SIRIUS+CSI:FingerID fingerprints for chemicals based on their SMILES representations'
  mainScript = 'main.nf'
  version = '1.0.0'
  nextflowVersion = '23.10.0'
}

// Path to a file (.tsv) containing SMILES (column 'SMILES') of the chemicals
params.data = 'path/to/tsv/file/containing/SMILES'

// Size of the SMILES blocks processed together
params.batch_size = 10000 

/* Select the outputted SIRIUS+CSI:FingerID fingerprint: 
   1. positive ionization mode: 'pos';
   2. negative ionization mode: 'neg';
   3. fingerprint features that are present in both: 'overlapping'.
params.mode = 'pos' 

// Fingerprint features that are used for generating SIRIUS+CSI:FingerID fingerprint (files downloaded from: https://github.com/boecker-lab/sirius)
params.openbabel = 'path/to/txt/file/containing/OpenBabel/fingerprint/features'
params.ecfp_fp_hashes = 'path/to/txt/file/containing/ECFP/fingerprint/features' 
params.biosmarts_aka_custom_made_fps = 'path/to/txt/file/containing/custom/made/fingerprint/features'
params.ringsystem_fps = 'path/to/txt/file/containing/ringsystem/fingerprint/features'


// File mapping fingerprint features to SIRIUS+CSI:FingerID absolute indices
params.csi_fingerid = 'path/to/tsv/file/containing/information/about/positive/mode/SIRIUS/fingerprint'
params.csi_fingerid_neg = 'path/to/tsv/file/containing/information/about/negative/mode/SIRIUS/fingerprint''

// Directory to store results
params.results = 'results'

process.container = 'quay.io/ida_rahu/ie4generation:v3.2.2'
docker.enabled = true

includeConfig './base.config'